<?xml version="1.0" encoding="UTF-8"?>
<dds xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.eprosima.com https://raw.githubusercontent.com/eProsima/Fast-DDS/refs/heads/3.2.x/resources/xsd/fastdds_profiles.xsd" xmlns="http://www.eprosima.com">
    <profiles>
        <transport_descriptors>
            <!-- Set 16MB segment size to reduce fragmentation and improve image FPS -->
            <transport_descriptor>
                <transport_id>shm_transport</transport_id>
                <type>SHM</type>
                {% if shm_large_segment %}
                <!-- Set 16MB segment size to reduce fragmentation and improve image FPS -->
                <segment_size>16384000</segment_size>
                {% endif %}
            </transport_descriptor>

            <!-- A pretty standard UDP transport -->
            <transport_descriptor>
                <transport_id>udp_transport</transport_id>
                <type>UDPv4</type>
                {% if ros_distro == "kilted" %}
                <!-- FastDDS 3.x (kilted) uses interfaces/allowlist -->
                <interfaces>
                    <allowlist>
                        <!-- The loopback interface is always allowed for DS metatraffic -->
                        <interface name="127.0.0.1" netmask_filter="ON" />
                        {% for iface in external_interfaces %}
                        <interface name="{{ iface }}" netmask_filter="OFF" />
                        {% endfor %}
                    </allowlist>
                </interfaces>
                {% else %}
                <!-- Older FastDDS 2.x (iron) uses interfaceWhiteList -->
                <interfaceWhiteList>
                    <address>127.0.0.1</address>
                    {% for iface in external_interfaces %}
                    <address>{{ iface }}</address>
                    {% endfor %}
                </interfaceWhiteList>
                {% endif %}
            </transport_descriptor>
        </transport_descriptors>

        <participant profile_name="client_profile" is_default_profile="true">
            {% if domain_id %}
            <domainId>{{ domain_id }}</domainId>
            {% endif %}
            <rtps>
                <userTransports>
                    <transport_id>shm_transport</transport_id>
                    <transport_id>udp_transport</transport_id>
                </userTransports>

                <!-- skip potential webserver port conflicts -->
                <port>
                    <portBase>17400</portBase>
                </port>

                <ignore_non_matching_locators>true</ignore_non_matching_locators>

                <useBuiltinTransports>false</useBuiltinTransports>
                {% if discovery_protocol == "SERVER" %}
                <builtin>
                    <discovery_config>
                        <discoveryProtocol>SERVER</discoveryProtocol>
                        {% if external_discovery_servers %}
                        <discoveryServersList>
                            {% if ros_distro == "kilted" %}
                            {% for ep in external_discovery_servers %}
                            <locator>
                                <udpv4>
                                    <address>{{ ep.address }}</address>
                                    <port>{{ ep.port }}</port>
                                </udpv4>
                            </locator>
                            {% endfor %}
                            {% else %}
                            <!--
                            FastDDS 2.x (jazzy and older - needed for iron lookout)
                            -->
                            {% for ep in external_discovery_servers %}
                            <RemoteServer prefix="44.53.00.5f.45.50.52.4f.53.49.4d.41">
                                <metatrafficUnicastLocatorList>
                                    <locator>
                                        <udpv4>
                                            <address>{{ ep.address }}</address>
                                            <port>{{ ep.port }}</port>
                                        </udpv4>
                                    </locator>
                                </metatrafficUnicastLocatorList>
                            </RemoteServer>
                            {% endfor %}
                            {% endif %}
                        </discoveryServersList>
                        {% endif %}
                    </discovery_config>
                    <metatrafficUnicastLocatorList>
                        <locator>
                            <udpv4>
                                <address>{{ local_discovery_server.address }}</address>
                                <port>{{ local_discovery_server.port }}</port>
                            </udpv4>
                        </locator>

                        {% for iface in external_interfaces %}
                        <locator>
                            <udpv4>
                                <address>{{ iface }}</address>
                                <port>{{ local_discovery_server.port }}</port>
                            </udpv4>
                        </locator>
                        {% endfor %}
                    </metatrafficUnicastLocatorList>
                </builtin>

                <discovery_server_thread>
                    <!-- <scheduling_policy>-1</scheduling_policy> -->
                    <priority>80</priority>
                    <affinity>12</affinity>
                    <!-- <stack_size>-1</stack_size> -->
                </discovery_server_thread>

                <typelookup_service_thread>
                    <!-- <scheduling_policy>-1</scheduling_policy> -->
                    <priority>80</priority>
                    <affinity>12</affinity>
                    <!-- <stack_size>-1</stack_size> -->
                </typelookup_service_thread>
                {% elif discovery_protocol == "CLIENT" %}
                <builtin>
                    <mutation_tries>1000</mutation_tries>

                    <discovery_config>
                        <discoveryProtocol>SUPER_CLIENT</discoveryProtocol>
                        <discoveryServersList>
                            {% if ros_distro == "kilted" %}
                            <locator>
                                <udpv4>
                                    <address>{{ local_discovery_server.address }}</address>
                                    <port>{{ local_discovery_server.port }}</port>
                                </udpv4>
                            </locator>
                            {% else %}
                            <!--
                            FastDDS 2.x (jazzy and older - needed for iron lookout)
                            -->
                            <RemoteServer prefix="44.53.00.5f.45.50.52.4f.53.49.4d.41">
                                <metatrafficUnicastLocatorList>
                                    <locator>
                                        <udpv4>
                                            <address>{{ local_discovery_server.address }}</address>
                                            <port>{{ local_discovery_server.port }}</port>
                                        </udpv4>
                                    </locator>
                                </metatrafficUnicastLocatorList>
                            </RemoteServer>
                            {% endif %}
                        </discoveryServersList>
                    </discovery_config>

                    <metatrafficUnicastLocatorList>
                        <locator>
                            <udpv4>
                                <address>127.0.0.1</address>
                                <port>27400</port>
                            </udpv4>
                        </locator>
                    </metatrafficUnicastLocatorList>
                </builtin>

                <propertiesPolicy>
                    <properties>
                        <property>
                            <name>fastdds.type_propagation</name>
                            <value>disabled</value>
                        </property>
                        <property>
                            <name>fastdds.shm.enforce_metatraffic</name>
                            <value>unicast</value>
                        </property>
                    </properties>
                </propertiesPolicy>
                {% endif %}
            </rtps>
        </participant>
    </profiles>

    <log>
        <use_default>false</use_default>

        <consumer>
            <class>StdoutConsumer</class>
        </consumer>

        <consumer>
            <class>StdoutErrConsumer</class>
            <property>
                <name>stderr_threshold</name>
                <value>Log::Kind::Info</value>
            </property>
        </consumer>

        <consumer>
            <class>FileConsumer</class>
            <property>
                <name>filename</name>
                <value>{{ launch_log_dir }}/fastdds.log</value>
            </property>
            <property>
                <name>append</name>
                <value>true</value>
            </property>
        </consumer>
    </log>
</dds>
