<?xml version="1.0" encoding="UTF-8"?>
<dds xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.eprosima.com https://raw.githubusercontent.com/eProsima/Fast-DDS/refs/heads/3.2.x/resources/xsd/fastdds_profiles.xsd" xmlns="http://www.eprosima.com">
    <profiles>
        <transport_descriptors>
            <!-- Set 16MB segment size to reduce fragmentation and improve image FPS -->
            <transport_descriptor>
                <transport_id>shm_transport</transport_id>
                <type>SHM</type>
                <segment_size>16384000</segment_size>
            </transport_descriptor>

            <!-- A pretty standard UDP transport -->
            <transport_descriptor>
                <transport_id>udp_transport</transport_id>
                <type>UDPv4</type>
                {% if interfaces %}
                {% if ros_distro == "kilted" %}
                <!-- FastDDS 3.x (kilted) uses interfaces/allowlist -->
                <interfaces>
                    <allowlist>
                        {% for iface in interfaces %}
                        <interface name="{{ iface }}" netmask_filter="OFF" />
                        {% endfor %}
                    </allowlist>
                </interfaces>
                {% else %}
                <!-- Older FastDDS 2.x (iron) uses interfaceWhiteList -->
                <interfaceWhiteList>
                    {% for iface in interfaces %}
                    <address>{{ iface }}</address>
                    {% endfor %}
                </interfaceWhiteList>
                {% endif %}
                {% endif %}
            </transport_descriptor>
        </transport_descriptors>

        <participant profile_name="super_client_profile" is_default_profile="true">
            <rtps>
                <userTransports>
                    <transport_id>shm_transport</transport_id>
                    <transport_id>udp_transport</transport_id>
                </userTransports>
                {% if interfaces %}
                <defaultUnicastLocatorList>
                    {% for iface in interfaces %}
                    <locator>
                        <udpv4>
                            <address>{{ iface }}</address>
                        </udpv4>
                    </locator>
                    {% endfor %}
                </defaultUnicastLocatorList>
                {% endif %}
                <useBuiltinTransports>false</useBuiltinTransports>
                {% if discovery_protocol == "SERVER" %}
                <builtin>
                    <discovery_config>
                        <discoveryProtocol>SERVER</discoveryProtocol>
                    </discovery_config>
                    <metatrafficUnicastLocatorList>
                        {% if interfaces %}
                        {% for iface in interfaces %}
                        <locator>
                            <udpv4>
                                <address>{{ iface }}</address>
                                <port>11811</port>
                            </udpv4>
                        </locator>
                        {% endfor %}
                        {% else %}
                        <locator>
                            <udpv4>
                                <address>0.0.0.0</address>
                                <port>11811</port>
                            </udpv4>
                        </locator>
                        {% endif %}
                    </metatrafficUnicastLocatorList>
                </builtin>
                {% elif discovery_protocol not in ["SIMPLE", "SERVER"] %}
                <builtin>
                    <mutation_tries>1000</mutation_tries>
                    <discovery_config>
                        <discoveryProtocol>{{ discovery_protocol }}</discoveryProtocol>
                        <discoveryServersList>
                            {% if ros_distro == "kilted" %}
                            <!-- FastDDS 3.x (kilted) uses direct locator format -->
                            <locator>
                                <udpv4>
                                    <address>{{ discovery_server_ip }}</address>
                                    <port>11811</port>
                                </udpv4>
                            </locator>
                            {% else %}
                            <!--
                            FastDDS 2.x (jazzy and older - needed for iron lookout)
                            -->
                            <RemoteServer prefix="44.53.00.5f.45.50.52.4f.53.49.4d.41">
                                <metatrafficUnicastLocatorList>
                                    <locator>
                                        <udpv4>
                                            <address>{{ discovery_server_ip }}</address>
                                            <port>11811</port>
                                        </udpv4>
                                    </locator>
                                </metatrafficUnicastLocatorList>
                            </RemoteServer>
                            {% endif %}
                        </discoveryServersList>
                    </discovery_config>
                </builtin>

                <propertiesPolicy>
                    <properties>
                        <property>
                            <name>fastdds.type_propagation</name>
                            <value>disabled</value>
                        </property>
                    </properties>
                </propertiesPolicy>
                {% endif %}
            </rtps>
        </participant>
    </profiles>

    <log>
        <use_default>false</use_default>

        <consumer>
            <class>StdoutConsumer</class>
        </consumer>

        <consumer>
            <class>StdoutErrConsumer</class>
            <property>
                <name>stderr_threshold</name>
                <value>Log::Kind::Info</value>
            </property>
        </consumer>

        <consumer>
            <class>FileConsumer</class>
            <property>
                <name>filename</name>
                <value>{{ launch_log_dir }}/fastdds.log</value>
            </property>
            <property>
                <name>append</name>
                <value>true</value>
            </property>
        </consumer>

        <thread_settings>
            <scheduling_policy>-1</scheduling_policy>
            <priority>0</priority>
            <affinity>0</affinity>
            <stack_size>-1</stack_size>
        </thread_settings>
    </log>
</dds>
